.header {
    grid-area: titulo;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center ;
    align-items: center;
    font-size: 25px;
}

.nav {
    grid-area: barra;
    background-color: black;
    color: white;
    font-size: 20px;
}

.nav__links {
    display: flex;
    justify-content: space-around;
}

.nav__item {
    list-style: none;
}

.nav__link {
    text-decoration: none;
    color: white;
}


/* Animación Appear Header*/

.anim-appear {
    animation-name: appear;
    animation-timing-function: ease;
    animation-duration: 1.2s;
    animation-delay: 0s;
}

@keyframes appear {
    0% {
        opacity: 0%;
    }
    100% {
        opacity: 100%;
    }
}